* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  overflow: auto;
  scroll-behavior:smooth;
}

body {
  margin: 0%;
  background-color: #ffffff;
  color: #000000;  
  /* filter: blur(10px); */
}

.logo1{
    margin-left: 0;
    margin-right: auto;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

nav {
  z-index: 99;
  border-radius: 3rem;
  width: 100%;
  border-color: #ee1717;
  position: fixed;
  left: center;
  /* top: 0%; */
  /* margin-top: 2rem; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

ul {
  width: 100%;
  border-radius: 3rem;
  background-color: #ffffff;
  box-shadow: 3px 4px 8px #ee2d2d, -3px -3px 8px #3d66ec;
  list-style-type: none;
  align-items: center;
  padding: 0px;
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-right: 1.5rem;
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

nav ul {
  gap: 2.3rem;
}

nav ul li {
  /* margin-left: auto;
  margin-right: auto; */
  margin-right: 1rem ;
}

nav ul li a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  color: #090909;
  padding: 0.4em 0.9em 0.2em 0.9em;
  font-size: 18px;
  border-radius: 0.9em;
  background: #fffefe;
  border: 1px solid #e8e8e8;
  transition: all 0.8s;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #d0cbcb;
  text-decoration: none;
  border-style: none;
}

nav ul li a:hover {
  box-shadow: 6px 6px 12px #ee2d2d, -6px -6px 12px #3d66ec;
}

nav ul li a:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
/* nav ul li a:visited {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
} */

section{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-transform: uppercase;
  padding: 1rem;
  /* border:#3d66ec solid; */
}

/* create button */
.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  margin-left: 35%;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* scroll */

.slide-page1 , .slide-page2 , .slide-page3 , .slide-page4 , .slide-page5{
  scroll-snap-align: start;
}

.slide-page2{
  justify-content: center;
}

.slide-page1{
  text-transform: uppercase;
  font-size: larger;
}

/* illustrations */
.img{
  
  height: 80%;
  z-index: 98;
  
}
.vid{
  /* https://pubgwala215.wistia.com/medias/u5h4b1nytc */
  margin-top: 64px;
  border: 10px solid #ffffff;
  height: 60%;
  width: 60%;
  border:solid 0px black;
  box-shadow: 6px 6px 12px #ee2d2d, -6px -6px 12px #3d66ec;
}
.introTXT{
  font-size: 2em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "poppins", sans-serif;
  margin-left: 8%;
}

.text-pg-01{
 color: red;

}
.slide-page1{
  background-color: #ffffff;
  /* filter: blur(10px); */
  z-index: -1;
}
.introTXT:hover{

}
 
/* gallery / themes / etc */

/* gallery */

.gallery {
  height: 90%;
  width: 70%;
  margin-top: 50px;
}


/* contact us */
.slide-page5{
  flex-direction: row;
  gap: 3rem;
  background-image: url(contact.png);
  background-size:cover;

}

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: #3d66ec;
  color: #fff;
  cursor: pointer;
}

.slide-page2 :hover{
  
}


.flex-my-button {
  width: 50%;
display: inline-block;
right: 10px;
bottom: 10px;
}

/* footer */

/* body{
  background: #eef8ff;
} */
