$color_1: #000000;
$color_2: #090909;
$color_3: #666;
$color_4: red;
$color_5: white;
$color_6: #c9510c;
$color_7: #d62976;
$color_8: #3b5998;
$color_9: #00acee;
$color_10: royalblue;
$color_11: #fff;
$font-family_1: "Josefin Sans", sans-serif;
$font-family_2: "poppins", sans-serif;
$font-family_3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color_1: #ffffff;
$background-color_2: #191919;
$background-color_3: transparent;
$background-color_4: white;
$background-color_5: #3d66ec;
$background-color_6: #000000;
$background-color_7: black;
$border-color_1: #ee1717;

/* li.logo {
  margin: none;
  padding: none;
  fill: green;
} */
/* nav ul li a:visited {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
} */
/* home.logo:hover{
    align-items: flex-start;
    justify-content: flex-start;
} */
/* .vid-box{
  height: 500px;
  width: 500px;
  color: antiquewhite;
  border: 2px #ffffff solid ;
  background-color: #ffffff;
} */
/* gallery / themes / etc */
/* gallery */
/* contact us */
* {
	box-sizing: border-box;
}
html {
	scroll-snap-type: y mandatory;
	overflow: auto;
	scroll-behavior: smooth;
}
body {
	margin: 0%;
	background-color: $background-color_1;
	color: $color_1;
}
.logo1 {
	margin-left: 0;
	margin-right: auto;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
nav {
	border-radius: 3rem;
	width: 100%;
	border-color: $border-color_1;
	position: fixed;
	left: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	ul {
		gap: 2.3rem;
		li {
			margin-right: 1rem;
			a {
				font-family: $font-family_1;
				font-weight: normal;
				color: $color_2;
				padding: 0.4em 0.9em 0.2em 0.9em;
				font-size: 18px;
				border-radius: 0.9em;
				background: #fffefe;
				border: 1px solid #e8e8e8;
				transition: all 0.8s;
				box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #d0cbcb;
				text-decoration: none;
				border-style: none;
				&:hover {
					box-shadow: 6px 6px 12px #ee2d2d, -6px -6px 12px #3d66ec;
				}
				&:active {
					color: $color_3;
					box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
				}
			}
		}
	}
}
ul {
	width: 100%;
	border-radius: 3rem;
	background-color: $background-color_1;
	box-shadow: 2px 2px 6px #ee2d2d, -2px -3px 8px #3d66ec;
	list-style-type: none;
	align-items: center;
	padding: 0px;
	margin: 20px;
	display: flex;
	justify-content: center;
	margin-right: 1.5rem;
	padding-top: 0.9rem;
	padding-bottom: 0.7rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
}
section {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-transform: uppercase;
	padding: 1rem;
}
.slide-page1 {
	scroll-snap-align: start;
	text-transform: uppercase;
	font-size: larger;
}
.slide-page2 {
	scroll-snap-align: start;
	justify-content: center;
	background-color: $background-color_7;
}
.slide-page3 {
	scroll-snap-align: start;
}
.slide-page4 {
	scroll-snap-align: start;
}
.slide-page5 {
	scroll-snap-align: start;
	flex-direction: row;
	gap: 10px;
}
.img {
	height: 80%;
}
.vid {
	margin-top: 64px;
	border: 10px solid #ffffff;
	height: 60%;
	width: 60%;
	border: solid 0px black;
	box-shadow: 6px 6px 12px #ee2d2d, -6px -6px 12px #3d66ec;
}
.introTXT {
	font-size: 2em;
	color: $color_1;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $font-family_2;
	margin-left: 8%;
	&:hover {
		>.slide-page1 {
			&:not(:hover) {
				filter: blur(5px);
			}
		}
	}
}
.text-pg-01 {
	color: $color_4;
}
.card {
	width: 230px;
	height: 280px;
	border-radius: 2em;
	padding: 10px;
	background-color: $background-color_2;
	box-shadow: 5px 5px 30px rgb(4, 4, 4), -5px -5px 30px rgb(57, 57, 57);
	a {
		transition: 0.4s;
		color: $color_5;
	}
}
.profileimage {
	background-color: $background-color_3;
	border: none;
	margin-top: 20px;
	border-radius: 5em;
	width: 100px;
	height: 100px;
}
.pfp {
	border-radius: 35em;
	fill: white;
}
.Name {
	color: $color_5;
	font-family: $font-family_3;
	padding: 15px;
	font-size: 20px;
	margin-top: 10px;
}
.socialbar {
	background-color: $background-color_2;
	border-radius: 3em;
	width: 90%;
	padding: 14px;
	margin-top: 15px;
	color: $color_5;
	box-shadow: 3px 3px 15px rgb(0, 0, 0), -3px -3px 15px rgb(58, 58, 58);
}
#github {
	&:hover {
		color: $color_6;
	}
}
#instagram {
	&:hover {
		color: $color_7;
	}
}
#facebook {
	&:hover {
		color: $color_8;
	}
}
#twitter {
	&:hover {
		color: $color_9;
	}
}
.gallery {
	height: 90%;
	width: 70%;
	margin-top: 50px;
}
.form {
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 10px;
	width: 50%;
	background-color: $background-color_4;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
	.title {
		color: $color_10;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: -1px;
		line-height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	input {
		outline: 0;
		border: 1px solid rgb(219, 213, 213);
		padding: 8px 14px;
		border-radius: 8px;
		width: 100%;
		height: 50px;
	}
	textarea {
		border-radius: 8px;
		height: 100px;
		width: 100%;
		resize: none;
		outline: 0;
		padding: 8px 14px;
		border: 1px solid rgb(219, 213, 213);
	}
	button {
		align-self: flex-end;
		padding: 8px;
		outline: 0;
		border: 0;
		border-radius: 8px;
		font-size: 16px;
		font-weight: 500;
		background-color: $background-color_5;
		color: $color_11;
		cursor: pointer;
	}
}
.night {
	body {
		background-color: $background-color_6;
		color: $color_1;
	}
}
